* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

body {
  background-color: #1b1616;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-ec {
  display: flex;
  justify-content: center;
  align-items: end;
}
.d-flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.child_container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.wrapp {
  width: 100%;
}

.main {
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 25px;
}

.info_search__group {
  padding: 13px 10px 11px 0;
  width: 371px;
  margin-bottom: 40px;
  border-bottom: 1px solid #fff;
  gap: 15px;
  background-color: rgb(33, 34, 34);
  border-radius: 15px;
}

.info_search {
  background: none;
  outline: none;
  border: none;
  flex-grow: 1;
  padding: 0 10px;
}

.info_search::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.info_search::after{
  background: none;
}

.top_group {
  margin-bottom: 10px;
  width: 100%;
}

.surah_info {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.surah{
  text-align: justify;
}
#page{
  margin-top: 10px;
  text-align: center;
}

.main_line{
  margin: 5px 0 25px 0;
  background-color: #fff;
  width: 100%;
}